            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a href="/"><i class="fa fa-home"></i> Dashboard</a></li>
                  <li><a href="/cities"><i class="fa fa-building"></i> Cities</a></li>
                  <li><a href="/groups"><i class="fa fa-object-group"></i> Groups</a></li>
                  <li><a href="/memberships"><i class="fa fa-money"></i> Membership Fee</a></li>
                  <li><a href="/users"><i class="fa fa-user"></i> Users</a></li>
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->
